In [ ]:
# Dictionary
# -Indexed
# -ordered
# -duplicate value
# -mutable

In [ ]:
a={<key>:<value>,<key>:<value>,...........}

In [2]:
a={"a":"Apple","b":"Ball"}
print(type(a))

<class 'dict'>

In [3]:
a={}
print(type(a))

<class 'dict'>

In [4]:
a={"a":"Apple","b":"Ball","c":"Cat"}
print(a["a"])

Apple

In [5]:
a={"a":"Apple","b":"Ball","c":"Cat"}
print(a["a":"b"])

TypeError: unhashable type: 'slice'

In [6]:
a={"a":"Apple","b":"Ball","c":"Cat"}
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [7]:
a={"B":"Apple","A":"Ball","c":"Cat"}
a

{'B': 'Apple', 'A': 'Ball', 'c': 'Cat'}

In [8]:
a={"B":"Apple","A":"Ball","c":"Cat"}
a={"B":"Apple","b":"Ball","c":"Cat"}
a

{'B': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [12]:
a={"B":"Apple","B":"Ball","c":"Cat"}
a

{'B': 'Ball', 'c': 'Cat'}

In [14]:
a={}
a["a"]="Apple"
a["b"]="Ball"
a["c"]="Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
a={}
a["a"]="Apple"
a["b"]="Ball"
a["c"]="Cat"
a["a"]="rat"
a

{'a': 'rat', 'b': 'Ball', 'c': 'Cat'}

In [1]:
d={}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=int(input("enter phone="))
    key=name
    value=phone
    d[key]=value
print(d)

enter n=2
enter name=ram
enter phone=980000466
enter name=sita
enter phone=985467888
{'ram': 980000466, 'sita': 985467888}

In [2]:
b=[('Ram',9809949989),('Sita',98256663)]
a=dict(b)
a

{'Ram': 9809949989, 'Sita': 98256663}

In [5]:
a={'Ram',9809949989,'Sita',98256663}
list(a)

[98256663, 9809949989, 'Ram', 'Sita']

In [6]:
a={'Ram':9836666266,'Shyam':9855545}
b={'hari':9765555}
a.update(b)
a

{'Ram': 9836666266, 'Shyam': 9855545, 'hari': 9765555}

In [7]:
a={'Ram':9836666266,'Shyam':9855545}
del a['Ram']
a

{'Shyam': 9855545}

In [8]:
a={'Ram':9836666266,'Shyam':9855545}
a.remove('Ram')
a

AttributeError: 'dict' object has no attribute 'remove'

In [9]:
a={'Ram':9836666266,'Shyam':9855545}
a.pop('Ram')
a

{'Shyam': 9855545}

In [11]:
a={('Ram','Hari'):9836666266,'Shyam':9855545}
a

{('Ram', 'Hari'): 9836666266, 'Shyam': 9855545}

In [12]:
a[('Ram','Hari')]

9836666266

In [ ]:
#list inside dict
a={'Ram':[9856666266,980345678],'Shyam':[985554598,9804371]}

#dic inside list
a=[{'Ram':9836666266}
   ,{'Shyam':9855545}]

#tuple inside dict
a={'Ram':(9856666266,980345678),'Shyam':(985554598,9804371)}

#dict inside tuple
a=({'Ram':9836666266}
   ,{'Shyam':9855545})

#dict inside dict
a={'Ram':{"NTC":9856666266,"NCELL"980345678}
,'Shyam':{"NTC":985554598,"NCELL"9804371}}

In [15]:
#list inside dict
d={}
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    ncell=int(input("Enter ncell no="))
    ntc=int(input("Enter ntc no="))
    key=name
    value=[ncell,ntc]
    d[key]=value
print(d)

Enter n=2
Enter name=akriti
Enter ncell no=9823865949
Enter ntc no=9861234567
Enter name=sujan
Enter ncell no=9823456789
Enter ntc no=9864890752
{'akriti': [9823865949, 9861234567], 'sujan': [9823456789, 9864890752]}

In [17]:
a={'Ram':[9856666266,980345678]
   ,'Shyam':[985554598,9804371]}
print(a['Ram'])

[9856666266, 980345678]

In [34]:
a={'Ram':[9856666266,980345678],'Shyam':[985554598,9804371]}
a['Ram'][0]=984566666
a

{'Ram': [984566666, 980345678], 'Shyam': [985554598, 9804371]}

In [29]:
a={'Ram':[9856666266,980345678]
   ,'Shyam':[985554598,9804371]}
a['Ram']=[9823456789,9861578973]
a

{'Ram': [9823456789, 9861578973], 'Shyam': [985554598, 9804371]}

In [35]:
a={'Ram':[9856666266,980345678]
   ,'Shyam':[985554598,9804371]}
del a['Ram'][0]
a

{'Ram': [980345678], 'Shyam': [985554598, 9804371]}

In [21]:
a={'Ram':[9856666266,980345678]
   ,'Shyam':[985554598,9804371]}
a['Ram'].append(563778999)
a

{'Ram': [9856666266, 980345678, 563778999], 'Shyam': [985554598, 9804371]}

In [22]:
a={'Ram':[9856666266,980345678]
   ,'Shyam':[985554598,9804371]}
a['Ram'][0]
a

{'Ram': [9856666266, 980345678], 'Shyam': [985554598, 9804371]}

In [25]:
#dic inside list
a=[{'Ram':9836666266},{'Shyam':9855545}]
a[1]

{'Shyam': 9855545}

In [26]:
a=[{'Ram':9836666266},{'Shyam':9855545}]
for i in a:
    print(i)

{'Ram': 9836666266}
{'Shyam': 9855545}

In [2]:
l=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc=int(input("enter ntc no="))
    ncell=int(input("enter ncell no="))
    d={'Name':name,'NTC':ntc,'Ncell':ncell}
    l.append(d)
print(d)

enter n=2
enter name=aaku
enter ntc no=9823675674
enter ncell no=9861234567
enter name=suj
enter ntc no=9816778909
enter ncell no=9864567829
{'Name': 'suj', 'NTC': 9816778909, 'Ncell': 9864567829}

In [3]:
print(l)

[{'Name': 'aaku', 'NTC': 9823675674, 'Ncell': 9861234567}, {'Name': 'suj', 'NTC': 9816778909, 'Ncell': 9864567829}]

In [1]:
a = [{'Name':'Ram','Ntc':986234819, 'Ncell':980567432},
  {'Name':'Shyam','Ntc':986294819, 'Ncell':980587432}]
for i in a:
    if i['Name'] == 'Ram':
        print(i)

{'Name': 'Ram', 'Ntc': 986234819, 'Ncell': 980567432}

In [4]:
a = [{'Name':'Ram','Ntc':986234819, 'Ncell':980567432},
  {'Name':'Shyam','Ntc':986294819, 'Ncell':980587432}]
for i in a:
    print(i)

{'Name': 'Ram', 'Ntc': 986234819, 'Ncell': 980567432}
{'Name': 'Shyam', 'Ntc': 986294819, 'Ncell': 980587432}

In [6]:
a = [{'Name':'Ram','Ntc':986234819, 'Ncell':980567432},
  {'Name':'Shyam','Ntc':986294819, 'Ncell':980587432}]
for i in a:
    print(i['Name'])

Ram
Shyam

In [10]:
#dict inside dict
a={'Ram':{"NTC":9856666266,"NCELL":980345678}
,'Shyam':{"NTC":985554598,"NCELL":9804371}}
a

{'Ram': {'NTC': 9856666266, 'NCELL': 980345678},
 'Shyam': {'NTC': 985554598, 'NCELL': 9804371}}

In [11]:
a={'Ram':{"NTC":9856666266,"NCELL":980345678}
,'Shyam':{"NTC":985554598,"NCELL":9804371}}
a['Ram']

{'NTC': 9856666266, 'NCELL': 980345678}

In [13]:
a={1:{'Name':'Ram',"NTC":9856666266,"NCELL":980345678}
,2:{'Name':'Shyam',"NTC":985554598,"NCELL":9804371}}
a[1]

{'Name': 'Ram', 'NTC': 9856666266, 'NCELL': 980345678}

In [14]:
a={1:{'Name':'Ram',"NTC":9856666266,"NCELL":980345678}
,2:{'Name':'Shyam',"NTC":985554598,"NCELL":9804371}}
a[1]['Name']

'Ram'

In [18]:
#for change the name
a={1:{'Name':'Ram',"NTC":9856666266,"NCELL":980345678}
,2:{'Name':'Shyam',"NTC":985554598,"NCELL":9804371}}
a[1]['Name']='AAKU'
    
a

{1: {'Name': 'AAKU', 'NTC': 9856666266, 'NCELL': 980345678},
 2: {'Name': 'Shyam', 'NTC': 985554598, 'NCELL': 9804371}}

In [21]:
#for delet
a={1:{'Name':'Ram',"NTC":9856666266,"NCELL":980345678}
,2:{'Name':'Shyam',"NTC":985554598,"NCELL":9804371}}
del a[1]
a

{2: {'Name': 'Shyam', 'NTC': 985554598, 'NCELL': 9804371}}

In [23]:
#for add
a={1:{'Name':'Ram',"NTC":9856666266,"NCELL":980345678}
,2:{'Name':'Shyam',"NTC":985554598,"NCELL":9804371}}
a[3]={'Name':'Hari',"NTC":985894598,"NCELL":980984371}
a

{1: {'Name': 'Ram', 'NTC': 9856666266, 'NCELL': 980345678},
 2: {'Name': 'Shyam', 'NTC': 985554598, 'NCELL': 9804371},
 3: {'Name': 'Hari', 'NTC': 985894598, 'NCELL': 980984371}}

In [24]:
for i in a.items():
    print(i)

(1, {'Name': 'Ram', 'NTC': 9856666266, 'NCELL': 980345678})
(2, {'Name': 'Shyam', 'NTC': 985554598, 'NCELL': 9804371})
(3, {'Name': 'Hari', 'NTC': 985894598, 'NCELL': 980984371})

In [25]:
for i in a.values():
    print(i)

{'Name': 'Ram', 'NTC': 9856666266, 'NCELL': 980345678}
{'Name': 'Shyam', 'NTC': 985554598, 'NCELL': 9804371}
{'Name': 'Hari', 'NTC': 985894598, 'NCELL': 980984371}

In [27]:
#creat
l={}
n=int(input("enterv n="))
for i in range(1,n+1):
    name=input("enter name=")
    ntc=int(input("enter ntc no="))
    ncell=int(input("enetr ncell no="))
    d={'Name':name,'Ntc':ntc,'Ncell':ncell}
    l[i]=d
print(l)

enterv n=2
enter name=Ram
enter ntc no=9823456789
enetr ncell no=9861234567
enter name=shyam
enter ntc no=9812345678
enetr ncell no=9862456789
{1: {'Name': 'Ram', 'Ntc': 9823456789, 'Ncell': 9861234567}, 2: {'Name': 'shyam', 'Ntc': 9812345678, 'Ncell': 9862456789}}