In [26]:
import mysql.connector
#importing databe
database = mysql.connector.connect(
    host = "localhost",
    user="root",
    password="",
    database="class12pm"
)
db = database.cursor()

In [27]:
#selecting data from databse
db.execute("SELECT * FROM account")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 985678976, 'yes', datetime.datetime(2021, 7, 5, 17, 34, 44))
(2, 'Hari', 987654324, 'yes', datetime.datetime(2021, 7, 5, 17, 34, 44))
(3, 'Shyam', 985432456, 'yes', datetime.datetime(2021, 7, 5, 17, 35, 24))
(4, 'Sita', 987654325, 'yes', datetime.datetime(2021, 7, 5, 17, 36, 49))
(5, 'Gita', 986754327, 'no', datetime.datetime(2021, 7, 5, 17, 36, 49))

In [28]:
db.execute("SELECT id,name,phone FROM account")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 985678976)
(2, 'Hari', 987654324)
(3, 'Shyam', 985432456)
(4, 'Sita', 987654325)
(5, 'Gita', 986754327)

In [16]:
import mysql.connector
#importing databe
database = mysql.connector.connect(
    host = "localhost",
    user="root",
    password="",
    database="class12pm"
)
db = database.cursor()

In [17]:
#selecting data from databse
db.execute("SELECT * FROM food")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Buff Chilli', 'Nepali', Decimal('300'), b'', 'Non Veg Snacks')
(2, 'Chips Chilli', 'Nepali', Decimal('180'), b'', 'Veg Snacks')
(3, 'Chicken Chilli', 'Nepali', Decimal('300'), b'', 'Non Veg Snacks')
(4, 'Veg Sandwich', 'Western', Decimal('150'), b'', 'Sandwich')
(5, 'Non Veg Sandwich', 'Western', Decimal('150'), b'', 'Sandwich')
(6, 'Chicken  Wings', 'Nepali', Decimal('350'), b'', 'Non Veg Snacks')
(7, 'Chicken Drumsticks', 'Nepali', Decimal('200'), b'', 'No Veg Snacks')

In [21]:
import mysql.connector
#importing databe
database = mysql.connector.connect(
    host = "localhost",
    user="root",
    password="",
    database="class12pm"
)
db = database.cursor()

In [30]:
import mysql.connector
#importing databe
database = mysql.connector.connect(
    host = "localhost",
    user="root",
    password="",
    database="class12pm"
)
db = database.cursor()

name = input("enter name =")
phone = int(input("Enter phone="))
payment = input("Enter yes or no =")
total = int(input("Enter total ="))

sql = f"INSERT INTO account(name,phone,payment,total) VALUES('{name}',{phone},'{payment}',{total})"
db.execute(sql)
database.commit()

enter name =Rita
Enter phone=9876543245
Enter yes or no =yes
Enter total =500

In [31]:
import mysql.connector
#importing databe
database = mysql.connector.connect(
    host = "localhost",
    user="root",
    password="",
    database="class12pm"
)
db = database.cursor()

ids = input("enter id =")
phone = int(input("Enter phone="))


sql = f"UPDATE account SET phone={phone} WHERE id={ids}"
db.execute(sql)
database.commit()

enter id =6
Enter phone=988888888

In [32]:
import mysql.connector
#importing databe
database = mysql.connector.connect(
    host = "localhost",
    user="root",
    password="",
    database="class12pm"
)
db = database.cursor()

ids = input("enter id =")

sql = f"DELETE FROM account WHERE id ={ids}"
db.execute(sql)
database.commit()

enter id =6

In [ ]:
#