In [ ]:
# tuple
# -indexing
# -duplicate member
# -ordered
# -imutable

In [1]:
b=("Apple","Ball","Cat")
a=(1,2,3,4)
print(a)
print(b)
type(a)

(1, 2, 3, 4)
('Apple', 'Ball', 'Cat')

tuple

In [2]:
a=("Apple")
type(a)

str

In [3]:
a=("Apple",)
type(a)

tuple

In [5]:
b=("Apple","Ball","Cat")
print(b[0])
print(b[0:2])
print(b[0:3:2])

Apple
('Apple', 'Ball')
('Apple', 'Cat')

In [6]:
b=("Apple","Ball","Cat")
print(b*2)

('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [9]:
b=("Apple","Ball","Cat")
c=("Dog",)
a=b+c

print(a)

('Apple', 'Ball', 'Cat', 'Dog')

In [10]:
t=tuple()
n=int(input("enter  "))
for i in range(n):
    x=input ("enter x=")
    t=t+(x,)
    print(t)

enter  3
enter x=data
('data',)
enter x=hall
('data', 'hall')
enter x=call
('data', 'hall', 'call')

In [13]:
t=tuple()
n=int(input("enter  "))
for i in range(n):
    x=input ("enter x=")
    t=t+(x,)
    print(t)

enter  3
enter x=Apple
('Apple',)
enter x=Ball
('Apple', 'Ball')
enter x=Cat
('Apple', 'Ball', 'Cat')

In [16]:
a=("Apple","Ball","Cat","Dog","Fish","Rat")
for i in a:
    if i=="Dog":
        continue
    print(i)

Apple
Ball
Cat
Fish
Rat

In [17]:
sorted(t)

['Apple', 'Ball', 'Cat']

In [18]:
t=tuple()
n=int(input("enter  "))
for i in range(n):
    x=int(input ("enter x="))
    t=t+(x,)
    print(t)

enter  3
enter x=7
(7,)
enter x=8
(7, 8)
enter x=9
(7, 8, 9)

In [19]:
print(max(t))
print(min(t))
print(sum(t))

9
7
24

In [23]:
a=(23, 44, 23, 47, 89)
len(a)

5

In [24]:
a=("Apple", "Ball","Cat","Dog","Egg","Fish")
l=len(a)
for i in range(l):
    if a[i]=="Cat":
        print(i)

2

In [25]:
a=("Apple", "Ball","Cat","Dog","Egg","Fish","Cat")
l=len(a)
for i in range(l):
    if a[i]=="Cat":
        print(i)

2
6

In [27]:
a=("Apple", "Ball","Cat","Dog","Egg","Fish","Cat")
b=a[0:3]
c=a[4:]
d=b+c
print(d)

('Apple', 'Ball', 'Cat', 'Egg', 'Fish', 'Cat')