In [14]:
a=0
b=1
for i in range(7):
    c=a+b
    a=b
    b=c
    
    print(a)

1
1
2
3
5
8
13

In [ ]:
#forloop
#while loop

In [1]:
#range(5)
#range(1,5)
#range(1,5,2)
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(5):
    print("hello world", i)

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4

In [5]:
for i in range(1,5):                      #i=1 i<5 i=i+1
    print("hello world", i)

hello world 1
hello world 2
hello world 3
hello world 4

In [6]:
for i in range(1,10,2):                  #i=1 i<10 i=i+2
    print("hello world", i)

hello world 1
hello world 3
hello world 5
hello world 7
hello world 9

In [7]:
n=int(input("enter n="))
for i in range(1,11):
    print(n*i)

enter n=5
5
10
15
20
25
30
35
40
45
50

In [8]:
n=int(input("enter n="))
for i in range(1,11):
    print(n,"*",i ,"=",n*i)

enter n=5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50